.sidebar {
  display: flex;

  /* The chat component will take the remaining 65% */
  flex: 0.35;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  min-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.sidebar__searchContainer > input {
  width: 100%;
  margin-left: 10px;
  border: none;
}

.sidebar__searchContainer > input:focus {
  /* outline-color: gray; */
  outline: none;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.sidebar__chats {
  flex: 1;
  overflow: scroll;
  background-color: white;
}
